<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css" />
  <title>Store Management</title>
</head>

<body>
  <div class="header">
    <div class="title">
      <h2>Definitely Not Amazon</h2>
      <p>(Please don't sue me)</p>
    </div>
  </div>
  
  <div id="admin" class="content">
    <h1>Store Management</h1>
    <div class="heading">
      <!--<div class="circle">1</div>-->
      <h2>Add a Product</h2>
    </div>

    <div class="add">
      <div class="form">
        <input v-model="title" placeholder="Product Name">
        <br />
        <p></p>
        <input v-model="price" placeholder="Price">
        <p></p>
        <input v-model="url" placeholder="Picture URL">
        <p></p>
        <button @click="upload">Upload</button>
      </div>
      <div class="upload" v-if="addProduct">
        <h2>{{addProduct.title}}</h2>
        <img :src="addProduct.url" />
        <p>{{addProduct.price}}</p>
      </div>
    </div>

    <div class="heading">
      <h2>Current Products</h2>
    </div>
    
    <div v-for="product in sortedArray">
      <img :src="product.url" />
      <br />{{product.title}} - ${{product.price}} - {{product.ordered}} unit(s) ordered
      <br />
      <button class="x-button" @click="deleteProduct(product)">Delete</button>
      <hr />
    </div>
    
  </div>

  <div class="footer">
    <a href="">Admin</a>
    <span> | </span>
    <a href="index.html">Customer Page</a>
    <span> | </span>
    <a href="https://github.com/rakudola/midterm2">Github Repository</a>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.js" integrity="sha256-g+Q8DFAmG5+eyRPSydX0LY4TfjsL11XSDrIGerbbEdA=" crossorigin="anonymous"></script>
  <script src="/admin.js"></script>
</body>

</html>
